*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    justify-content: center; 
    align-content: space-around;
    position: sticky;
    height: 25vh;
    width: 100%;
    text-align: center;
    background: #475fac;
    color: rgb(151, 151, 151);
    font-size: 1.3rem;

}

.header h2{
    color: rgb(255, 32, 32);

}

.header h3{
    color: rgb(243, 243, 243);
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.headermenu {
    width: inherit;
    height: inherit;
    display: inline-flex;
    width: inherit;
    
}

.headermenu nav ul {
    list-style: none;
    display: inline-flex;
    align-content: space-around;
    
}

.headermenu nav ul li {
    width: inherit;
    padding: 0rem;
    align-items: center;
    margin: 3%;
    text-decoration: underline;

}


.headermenu nav ul li a:link, a:visited{
    text-decoration: none;
    display:inline-block;

}

.headermenu nav ul li a:hover, a.active {
    background-color: rgb(109, 109, 109);
    text-decoration: solid;

}

.headerlinks{
    width: inherit;
    height: inherit;
    display: inline-flex;
    width: inherit;

}

div.headerlinks nav {
    width: inherit;
    height: inherit;
    
}

div.headerlinks nav ul {
    list-style: none;
    text-decoration-line: none;
    display: inline-flex;
    align-content: space-around;
    justify-content: start;
    width: inherit;
    height: inherit;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;

}

div.headerlinks nav ul li {
    width: inherit;
    padding: 0rem;
    align-items: center;
    text-decoration-line: none;


}

div.headerlinks nav ul li a {

    margin: 3%;
}

div.text{
    display: inherit;
    justify-content: start;
    display: inline-flex;
    width: inherit;
    flex-wrap: wrap;

}

div.kund{
    right: 0;
    
}

div.kund a img{
    padding: 1rem;
    max-inline-size: 15vh;
    margin: 3%;
}

div.kundvagn{

    overflow: hidden;
    display: inherit;
    width: 100%;
    height: 70vh;
    background-color: rgb(219, 219, 219);
    text-align: center;
}

@media only screen and (max-width: 600px){
    div.header div.headermenu div.text {
        display: none;
    }
}



